<?xml version='1.0' encoding='UTF-8'?>
<song xmlns="http://openlyrics.info/namespace/2009/song" version="0.8">
  <properties>
    <titles>
      <title>Spring up O well, within my soul</title>
    </titles>
    <authors>
      <author>Author Unknown</author>
    </authors>
  </properties>
  <lyrics>
    <verse name="v1">
      <lines>Spring up O well, within my soul. <br/>Spring up O well, and make my whole. <br/>Spring up O well, flow out from me. <br/>Spring up O well, set others free.</lines>
    </verse>
  </lyrics>
</song>
